In [3]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Using cached mysql_connector_python-9.0.0-cp312-cp312-manylinux_2_17_x86_64.whl.metadata (2.0 kB)
Using cached mysql_connector_python-9.0.0-cp312-cp312-manylinux_2_17_x86_64.whl (19.3 MB)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
# Lo primero que tenemos que hacer es instalar el conector de mysql
# pip install mysql-connector-python

import mysql.connector

# Establecer conexión
conexion = mysql.connector.connect(
    host="localhost",
    port="3306",
    user="root",
    password="administrador",
    database="eoi2",
    charset="utf8mb4",
    collation="utf8mb4_general_ci"
)


cursor = conexion.cursor()

In [5]:
#En este ejemplo vamos a mostrar todos los empleados que tenemos
resultados = cursor.execute("SELECT * FROM empleados").fetchall()


for fila in resultados:
    print(fila)

(1000, 'Antonio Gutierrez', 45, 100, 1, datetime.date(1989, 1, 12))
(1001, 'Paloma Blanco', 56, 100, 2, datetime.date(1992, 3, 17))
(1002, 'Antonio Pazos', 52, 100, 3, datetime.date(1986, 3, 14))
(1003, 'Ana Garcia', 27, 101, 2, datetime.date(1995, 10, 23))
(1004, 'Amparo Beltran', 28, 101, 3, datetime.date(1998, 2, 4))
(1005, 'Enrique Gomez', 36, 101, 3, datetime.date(2000, 7, 5))
(1006, 'Nieves Soler', 25, 105, 2, datetime.date(1996, 3, 13))
(1007, 'Juan Jose Velasco', 34, 105, 3, datetime.date(1997, 2, 14))
(1008, 'Isidro Perez', 22, 109, 2, datetime.date(2000, 5, 6))
(1009, 'Ignacio Lopez', 38, 109, 3, datetime.date(1990, 4, 7))
(1010, 'Vicente Salvador', 29, 109, 3, datetime.date(1995, 7, 8))
(1011, 'Carmen Hernandez', 44, 102, 2, datetime.date(1990, 7, 16))
(1012, 'Juan Pons', 50, 102, 4, datetime.date(1994, 4, 14))
(1013, 'Pedro Fernandez', 23, 102, 4, datetime.date(1999, 9, 16))
(1014, 'Silvia Blasco', 33, 102, 4, datetime.date(1992, 2, 23))
(1015, 'Jose Alegre', 26, 106, 2, datetime.date(1997, 8, 26))
(1016, 'Cristina Prats', 46, 106, 4, datetime.date(1984, 11, 18))
(1017, 'Carlos Gimenez', 35, 106, 4, datetime.date(1995, 5, 15))
(1018, 'Maria Gonzalez', 37, 108, 4, datetime.date(1996, 6, 16))
(1019, 'Manuel Torres', 24, 108, 4, datetime.date(1998, 1, 19))
(1020, 'Jose Perez', 28, 110, 2, datetime.date(1996, 3, 22))
(1021, 'Alejandro Martos', 34, 110, 4, datetime.date(1994, 10, 17))
(1022, 'Veronica Muelas', 25, 110, 4, datetime.date(1997, 7, 5))
(1023, 'Elena Lopez', 29, 112, 4, datetime.date(1994, 7, 9))
(1024, 'Isabel Fernandez', 22, 112, 4, datetime.date(2000, 10, 12))
(1025, 'Jose Mujica', 49, 103, 2, datetime.date(1987, 9, 4))
(1026, 'Pedro Bledos', 26, 103, 5, datetime.date(1998, 2, 6))
(1027, 'Pablo Costas', 35, 107, 5, datetime.date(1995, 7, 3))
(1028, 'Ester Castro', 27, 111, 2, datetime.date(1996, 7, 18))
(1029, 'Gregoria Mas', 33, 111, 5, datetime.date(1997, 3, 14))
(1030, 'Jose Medina', 34, 104, 2, datetime.date(1995, 6, 14))
(1031, 'Maria Utrillas', 27, 104, 3, datetime.date(1997, 8, 19))
(1032, 'Marina Gilabert', 24, 104, 3, datetime.date(1998, 12, 1))

In [6]:
query = "INSERT INTO `empleados` (`num`, `nombre`, `edad`, `departamento`, `categoria`, `contrato`) VALUES (4000, 'David Granados', 46, 100, 1, '2024-01-12') "

cursor.execute(query)
conexion.commit()

print(cursor.rowcount, "registro insertado.")

1 registro insertado.

In [7]:
sql = "DELETE FROM empleados WHERE nombre = %s"
valor = ("David Granados",)
cursor.execute(sql, valor)

conexion.commit()
print(cursor.rowcount, "registro(s) eliminado(s).")

1 registro(s) eliminado(s).

In [10]:
# Consulta con parámetros
edad_minima = 25
sql = "SELECT * FROM empleados WHERE edad > %s"
cursor.execute(sql, (edad_minima,))

resultados = cursor.fetchall()

for fila in resultados:
    print(fila)

ProgrammingError: 2055: Cursor is not connected

0 registro(s) eliminado(s).

In [9]:


cursor.close()
conexion.close()