En este caso lo que vamos a ver es una evoluci√≥n del caso anterior, vamos a usar DAO, data access object

In [1]:
import sqlite3

conn = sqlite3.connect('mi_base_de_datos.db')
cursor = conn.cursor()

In [2]:
class UsuarioDAO:
    def __init__(self, conexion):
        self.conexion = conexion
        self.cursor = conexion.cursor()

    def crear_tabla(self):
        self.cursor.execute('''
            CREATE TABLE IF NOT EXISTS usuarios (
                id INTEGER PRIMARY KEY,
                nombre TEXT,
                edad INTEGER
            )
        ''')
        self.conexion.commit()

    def insertar_usuario(self, nombre, edad):
        self.cursor.execute('''
            INSERT INTO usuarios (nombre, edad) VALUES (?, ?)
        ''', (nombre, edad))
        self.conexion.commit()

    def obtener_usuarios(self):
        self.cursor.execute('SELECT * FROM usuarios')
        return self.cursor.fetchall()

    def actualizar_usuario(self, id, nombre, edad):
        self.cursor.execute('''
            UPDATE usuarios SET nombre = ?, edad = ? WHERE id = ?
        ''', (nombre, edad, id))
        self.conexion.commit()

    def eliminar_usuario(self, id):
        self.cursor.execute('DELETE FROM usuarios WHERE id = ?', (id,))
        self.conexion.commit()

In [3]:
dao = UsuarioDAO(conn)
dao.crear_tabla()
dao.insertar_usuario('Juan', 30)
usuarios = dao.obtener_usuarios()
print(usuarios)

[(1, 'Juan', 30), (2, 'Juan', 30)]

In [12]:
dao.obtener_usuarios()

[]

In [11]:
dao.eliminar_usuario(2)

In [8]:
print(usuarios)

[(1, 'Juan', 30), (2, 'Juan', 30)]

In [13]:
from dataclasses import dataclass
import sqlite3

@dataclass
class UsuarioDTO:
    id: int
    nombre: str
    edad: int

class UsuarioDAO:
    def __init__(self, conexion):
        self.conexion = conexion
        self.cursor = self.conexion.cursor()

    def crear_tabla(self):
        self.cursor.execute('''
            CREATE TABLE IF NOT EXISTS usuarios (
                id INTEGER PRIMARY KEY,
                nombre TEXT,
                edad INTEGER
            )
        ''')
        self.conexion.commit()

    def insertar_usuario(self, usuario: UsuarioDTO):
        self.cursor.execute('''
            INSERT INTO usuarios (nombre, edad) VALUES (?, ?)
        ''', (usuario.nombre, usuario.edad))
        self.conexion.commit()

    def obtener_usuarios(self):
        self.cursor.execute('SELECT * FROM usuarios')
        rows = self.cursor.fetchall()
        return [UsuarioDTO(id=row[0], nombre=row[1], edad=row[2]) for row in rows]

    def actualizar_usuario(self, usuario: UsuarioDTO):
        self.cursor.execute('''
            UPDATE usuarios SET nombre = ?, edad = ? WHERE id = ?
        ''', (usuario.nombre, usuario.edad, usuario.id))
        self.conexion.commit()

    def eliminar_usuario(self, id: int):
        self.cursor.execute('DELETE FROM usuarios WHERE id = ?', (id,))
        self.conexion.commit()

In [14]:
conn = sqlite3.connect(':memory:')
dao = UsuarioDAO(conn)
dao.crear_tabla()
usuario = UsuarioDTO(id=1, nombre='Juan', edad=30)
dao.insertar_usuario(usuario)
usuarios = dao.obtener_usuarios()
print(usuarios)

[UsuarioDTO(id=1, nombre='Juan', edad=30)]